on: pull_request

jobs:
     
  pipeline-scan:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@master
      - name: Set up JDK 1.8 
        uses: actions/setup-java@v1       
        with:
          java-version: 1.8
      - name: Download the Pipeline Scanner
        uses: wei/curl@master
        with:
          args: -O https://downloads.veracode.com/securityscan/pipeline-scan-LATEST.zip
      - name: Unzip the Pipeline Scanner
        run: unzip pipeline-scan-LATEST.zip
      - name: Run Pipeline Scanner and reformat json
        continue-on-error: true
        run: java -jar pipeline-scan.jar -vid "${{ secrets.VERACODE_API_ID }}" -vkey "${{ secrets.VERACODE_API_KEY }}" --file "target/verademo.war" --fail_on_severity="Very High, High" -jf results.json
      - name: set execution
        if: ${{ always() }}
        run: chmod +x .github/files/json.sh .github/files/jq-linux64
      - name: copy resulst file
        if: ${{ always() }}
        run: cp /home/runner/work/verademo_java/verademo_java/results.json .github/files/
      - name: Convert pipeline scan output to SARIF format 
        id: convert
        uses: Lerer/veracode-pipeline-scan-results-to-sarif@v1.0
        with:
          pipeline-results-json: .github/files/results.json
      - name: show json file
        if: ${{ always() }}
        run: cat veracode-results.sarif
      - uses: github/codeql-action/upload-sarif@v1
        if: ${{ always() }}
        with:
          token: ${{ github.token }}
          sarif_file: veracode-results.sarif
